# build output
dist/
# generated types
.astro/

# generated mdx
www/src/content/docs/generated

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

__screenshots__

.vercel
.turbo