---
import type { Props } from "@astrojs/starlight/props";

import LanguageSelect from "@astrojs/starlight/components/LanguageSelect.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";

import Search from "./Search.astro";
import SiteTitle from "./SiteTitle.astro";
---

<div
  class="flex flex-row gap-[var(--sl-nav-gap)] h-full items-center container"
>
  <div class="overflow-hidden flex flex-row items-center flex-1">
    <SiteTitle {...Astro.props} />

    <ul class="nav">
      <a
        data-current={Astro.url.pathname !== "/"}
        href="/getting-started/welcome"
      >
        Documentation
      </a>
    </ul>
  </div>
  <div class="lg:block hidden"><Search {...Astro.props} /></div>
  <div class="flex-row items-center gap-4 lg:flex hidden">
    <SocialIcons {...Astro.props} />
    <ThemeSelect {...Astro.props} />
    <LanguageSelect {...Astro.props} />
  </div>
</div>

<style>
  .nav {
    a {
      @apply text-muted-foreground font-sans text-sm no-underline;

      &[data-current] {
        @apply text-foreground;
      }
    }
  }
</style>
