---
import Logo from "@/components/Logo.astro";
---

<div
  class="container h-screen max-w-2xl mx-auto flex flex-col justify-center items-center gap-8"
>
  <Logo width={700} class="text-white glowing" />

  <p class="text-center text-lg opacity-85">
    atmx ("atomics") is a collection of copy-and-pastable code snippets that
    help you build JavaScript projects at lightspeed.
  </p>
</div>

<atmx-waves class="absolute bottom-0 inset-x-0 w-screen h-1/2"></atmx-waves>

<style>
  @keyframes glowing {
    from {
      filter: drop-shadow(0 0 8px rgba(255, 255, 255));
    }

    to {
      filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
    }
  }

  .glowing {
    animation: glowing 2.5s infinite alternate ease-in-out;
  }
</style>

<script>
  class Waves extends HTMLElement {
    #canvas: HTMLCanvasElement;
    #ctx: CanvasRenderingContext2D;
    #t: number;

    constructor() {
      super();

      this.#canvas = document.createElement("canvas");

      this.appendChild(this.#canvas);

      this.#canvas.width = this.clientWidth;
      this.#canvas.height = this.clientHeight;

      this.#ctx = this.#canvas.getContext("2d") as CanvasRenderingContext2D;
      this.#t = 0;

      this.#draw();
    }

    #draw() {
      const w = (this.#canvas.width = this.#canvas.clientWidth) / 2;
      const h = (this.#canvas.height = this.#canvas.clientHeight) / 2;

      // ctx.fillRect(0, 0, w * 2, h * 2);
      this.#ctx.fillStyle = "#fff";

      for (let i = 30; i--; ) {
        for (let j = 80; j--; ) {
          const x = j - 40;
          const y =
            4.5 + Math.sin(j / 4 + this.#t / 2) + Math.sin(i / 2 - this.#t) / 2;
          const z = i / 6;

          this.#ctx.beginPath();
          this.#ctx.shadowColor = "#fff";
          this.#ctx.shadowBlur = 10;
          this.#ctx.arc(
            w + (x / z) * 140,
            h / 8 + (y / z) * 180,
            16 / z / z,
            0,
            7,
          );
          this.#ctx.fill();
        }
      }

      this.#t += 1 / 40;

      requestAnimationFrame(this.#draw.bind(this));
    }
  }

  customElements.define("atmx-waves", Waves);
</script>
