---
import type { Props } from "@astrojs/starlight/props";

import "@astrojs/starlight/style/markdown.css";
---

<div class="sl-markdown-content">
  <slot />
</div>

<style lang="postcss">
  .sl-markdown-content {
    :global(h2) {
      @apply border-b-border scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
    }
  }
</style>
