---
import MobileMenuToggle from "@astrojs/starlight/components/MobileMenuToggle.astro";
import type { Props } from "@astrojs/starlight/props";

import SidebarPane from "./SidebarPane.astro";
import SidebarContent from "./SidebarContent.astro";
import PageHeader from "./PageHeader.astro";

const { hasSidebar } = Astro.props;
---

<div class="flex flex-col min-h-screen">
  <PageHeader>
    <slot name="header" />
  </PageHeader>

  <div class="container flex-1 flex flex-row">
    {
      hasSidebar && (
        <nav
          class="sidebar"
          aria-label={Astro.locals.t("sidebarNav.accessibleLabel")}
        >
          <MobileMenuToggle {...Astro.props} />

          <SidebarPane>
            <SidebarContent>
              <slot name="sidebar" />
            </SidebarContent>
          </SidebarPane>
        </nav>
      )
    }

    <div class="main-frame flex-1 relative w-full">
      <slot />
    </div>
  </div>
</div>

<style>
  .main-frame {
    padding-inline-start: var(--sl-content-inline-start);
    padding-top: var(--sl-nav-height);
  }
</style>
