---
import { cn } from "@/lib/utils";
import { Link } from "@/components/ui/link";

const items = ["helpers", "hooks"];
---

<nav class="border-b">
  <ul class="flex flex-row justify-left items-center gap-4 p-4">
    {
      items.map((section) => {
        const active = Astro.url.pathname.startsWith(`/${section}`);

        return (
          <li>
            <Link
              className={cn(
                "rounded-full font-medium capitalize",
                "hover:text-foreground",
                active && "text-foreground px-2 py-1",
              )}
              href={`/${section}`}
            >
              {section}
            </Link>
          </li>
        );
      })
    }
  </ul>
</nav>
