---
import Sidebar from "@/components/Sidebar.astro";
import { Link } from "@/components/ui/link";

import { Typography } from "@/components/ui/typography";
import { cn } from "@/lib/utils";
import { capitalize } from "@/snippets/utilities/capitalize";

import "@/styles/global.css";
import "@fontsource/geist-sans/300.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/600.css";
---

<html lang="en" class="w-full h-full dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="w-full h-full">
    <main class="py-32 max-w-4xl mx-auto">
      <header class="text-left">
        <Typography variant="h1" className="mb-2">
          Stop writing the same code twice.
        </Typography>
        <Typography color="muted" className="font-light text-lg">
          Useful zero-dependency utilities & React hooks you can copy-and-paste
          into your JavaScript app.
        </Typography>

        <ul class="flex flex-row justify-left items-center gap-4 py-8">
          {
            ["utilities", "hooks"].map((section) => (
              <li>
                <Link
                  className={cn(
                    "rounded-full font-medium",
                    Astro.url.pathname.startsWith(`/${section}`) &&
                      "text-foreground bg-muted px-2 py-1",
                  )}
                  href={`/${section}`}
                >
                  {capitalize(section)}
                </Link>
              </li>
            ))
          }
        </ul>
      </header>

      <div class="flex flex-row w-full gap-16">
        <Sidebar />
        <div class="flex-1">
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
